html {
  font-size: 14px;
}

/* body {
  padding: 50px;
  margin: 0;
  overflow: hidden;
  background-color: #fafafa;
} */

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}
@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes sleeping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sleeping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#swinger {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

#zone {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
}

#ztwo {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 0.4s;
  -website-animation-delay: 0.4s;
}

#zthree {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 0.7s;
  -website-animation-delay: 0.7s;
}

#zfour {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 1s;
  -website-animation-delay: 1s;
}

#zfive {
  opacity: 0;
  -webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
  animation: sleeping 3.5s ease-in-out forwards infinite;
  animation-delay: 1.3s;
  -website-animation-delay: 1.3s;
}

.container {
  text-align: center;
}

svg {
  max-width: 1000px;
}
